# ==========================================
# Configurações do Banco de Dados PostgreSQL
# ==========================================
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=help_home
POSTGRES_PORT=5433

# ==========================================
# Configurações do Backend (HelpHome API)
# ==========================================
PORT=3000
DATABASE_URL=postgresql://admin:admin123@postgres:5432/help_home?schema=public
JWT_SECRET=seu_jwt_secret_aqui
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=seu_jwt_refresh_secret_aqui
JWT_REFRESH_EXPIRES_IN=72h

# ==========================================
# Configurações do Frontend (HelpHome Web)
# ==========================================
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000
